@import '../../Helper_Sass/mixin';
@import '../../Helper_Sass//variables';

.signUp{
    height: 800px;
    padding: 100px 0;
    .signUp_content{
        width: 30%;
        margin: auto;
        h1{
            @include styleTextTile(30px);
        }
       
    }
}


.button_Form{
    height: 40px;
    width: 100%;
    text-align:center;
    
    display: inline-block;
    background-color: $color-yellow;
    border: 1px solid $color-orange;
    @include styleText(white,$fs-3,$fw-normal);
    &:hover{
        background-color: $color-orange;
        color: white;
    }
    &:focus{
        border: 1px solid $color-orange;
        outline: none;
        box-shadow: none;
    }
}